@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: #325936;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
}

.subheading {
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
}

.nav {
    background-color: green;
}

.nav-list {
    background-color: aliceblue;
}

.nav-li {
    color: blueviolet;
}

.hero {
    height: 120vh;
    display: flex;
    justify-content: center;
}

.hero-div {
    height: 100vh;
    width: 70vw;
    justify-content: center;
}

.hero-heading {
    font-weight: 700;
    font-size: 74px;
    line-height: 90px;
}

.hero-vid {
    width: 95%;
}

.vid-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}


button {
    margin-top: 4vh;
    background-color: orange;
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 50px;
}

img {
    border-radius: 50%;
    min-height: 50px;
    width: 100%;
    max-width: 200px;
    align-self: center;
    margin-bottom: -10px;
  }

.about {
    background-color: #629A68;
    min-height: 300px;
    height: 85vh;
    display: flex;
    
}
.about-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}
.about-div-info {
    margin-left: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 43%;
}
 .about-header {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}
.about-parag {
    margin-top: -10px;
    max-width: 600px;
    align-self: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-radius: 50px;
    max-width: 800px;
    width: 70%;
    min-height: 52px;
    height: 5vh;
    left: 375px;
    top: 2555px;
    padding-left: 5%;
    margin-bottom: 20px;
}

.contact {
    margin-bottom: 70px;
    
}

.recentioner {
    margin-top: 10vh;
    height: 60vh;
    margin-bottom: 50px;
    
}
.recentioner-div {
    background-color: #3E8A46;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    
}
.recentioner-div-info {
    background-color: #374a3959;
    max-width: 60vw;
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
    border-radius: 25px;
    padding: 20px;
}

.recentioner-parag {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}

footer {
    min-height: 5000px;
    height: 50vh;
    width: 100%;
    max-width: 900px;
 
    display: flex;
    justify-content: center;
}

.footer-div {
    min-height: 50px;
    height: 20vh;
    width: 100%;
    max-width: 500px;
    margin-top: 300px;
}

@media (max-width: 1231px) {
    .hero {
        height: 110vh;
    }

    footer {
        padding-top: 15%;
    }

    .about-parag {
        font-size: 18px;
        max-width: 500px;
        width: 80%;
    }

    .about {
        height: 130vh;
    }
}

/* @media (max-width: 1184px) {

} */

@media (max-width: 843px) {
    .about-parag {
        font-size: 16px;
        max-width: 700px;
        width: 100%;
    }

    footer {
        width: 100%;
        height: 40vh;
    }
}



@media (max-width: 761px) and (orientation:landscape) {
    /* .about-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .about-parag {
        font-size: 16px;
        max-width: 700px;
        width: 80%;
    }

    .about-div-info {
        margin-left: 10px;
       display: flex;
       flex-direction: column;
       justify-content: center;
    
       width: 80%;
    } */

    .about {
        /* height: 140vw; */
        justify-content: center;
    }

    .about-parag {
        max-width: 700px;
        width: 80%;
    }

    .about-div-info {
        width: 100%;
    }

    img {
        margin-top: 7%;
    }

    .hero {
        height: 70vw;
    }

    .hero-heading {
        font-size: 60px;
        line-height: 65px;
    }

}

@media (max-width: 761px) {
    .about-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .about-parag {
        font-size: 16px;
        max-width: 700px;
        width: 80%;
    }

    .about-div-info {
        margin-left: 0px;
       display: flex;
       flex-direction: column;
       justify-content: center;
    
       width: 80%;
       margin-bottom: 20px;
    }

    .about {
        height: 200vh;
        justify-content: center;
    }

    img {
        margin-top: 7%;
    }

    .hero {
        height: 90vh;
    }

}

/* 
@media (max-width: 655px) and (orientation:landscape){
    .hero {
        height: 80vw;
    }

    .about {
        height: 180vw;
    }
} */

@media (max-width: 607px) {
    .hero-heading {
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        margin-bottom: 15%;
        margin-top: 20%;
    }

    .about {
        height: 220vh;
    }
}

/* @media (max-width: 607px) and (orientation:landscape){
    .hero {
        height: 80vw;
    }

    .hero-heading {
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 10%;
        margin-top: 35px;
    }
} */

/* @media (max-width: 550px) and (orientation:landscape){
    .about {
        height: 210vw;
    } 

 } */

@media (max-width: 509px) {
    .about {
        height: 230vh;
    }

    .hero {
        height: 80vh;
    }

}

/* @media (max-width: 509px) and (orientation:landscape) {
    .about {
        height: 220vw;
    }

    .hero {
        height: 80vw;
    }

} */

@media (max-width: 465px) {

  
    .hero-heading {
        font-weight: 700;
        font-size: 40px;
        line-height: 39px;
    }

    .about {
        height: 250vh;
    }

    .hero {
        height: 70vh;
    }

    .hero-vid {
        width: 100%;
    }

    .hero-div {
        width: 80vw;

    }
}

@media (max-width: 420px) {
    .about {
        height: 280vh;
    }


}

@media (max-width: 389px) {
    .about {
        padding-bottom: 30px;
    }
    .hero-vid {
        padding-top: 20px;
    }


}

@media (max-width: 371px) {
    .about {
        height: 315vh;
    }

}


@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) { 
        .hero {
            height: 50vh;
        }
        .about {
            height: 150vh;
        }
    }


@media only screen 
and (device-width : 896px) 
and (device-height : 414px) 
and (-webkit-device-pixel-ratio : 2){ 
    .hero {
        height: 60vw;
    }
    .hero-heading {
        font-size: 40px;
    }
    .about {
        height: 90vw;
    }
}
@media only screen 
and (device-width: 390px) 
and (device-height: 844px) 
and (-webkit-device-pixel-ratio: 3) { 
    .hero {
        height: 50vh;
    }
    .about {
        height: 170vh;
    }
}

@media only screen 
and (device-width: 844px) 
and (device-height: 390px) 
and (-webkit-device-pixel-ratio: 3) { 
    .hero {
        height: 60vw;
    }
    .hero-heading {
        font-size: 40px;
    }
    .about {
        height: 90vw;
    }
}

@media only screen 
and (device-width: 740px) 
and (device-height: 360px) 
and (-webkit-device-pixel-ratio: 3) { 
    .hero {
        height: 60vw;
    }
    .hero-heading {
        font-size: 40px;
    }
    .about {
        height: 90vw;
    }
}

@media only screen 
and (device-width: 360px) 
and (device-height: 740px) 
and (-webkit-device-pixel-ratio: 3) { 
    .hero {
        height: 40vh;
    }
    .about {
        height: 70vw;
    }
}

@media only screen 
and (device-width: 768px) 
and (device-height: 1024px) 
and (-webkit-min-device-pixel-ratio: 1.0) { 
    .hero {
        height: 60vh;
    }
    .about {
        height: 90vw;
    }
}

@media only screen 
and (device-width: 1024px) 
and (device-height: 768px) 
and (-webkit-min-device-pixel-ratio: 1.0) { 
    .hero {
        height: 60vw;
    }
    .hero-heading {
        font-size: 40px;
    }
    .about {
        height: 90vw;
    }
}