@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: #325936;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
}

.subheading {
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
}

.nav {
    background-color: green;
}

.nav-list {
    background-color: aliceblue;
}

.nav-li {
    color: blueviolet;
}

.hero {
    height: 120vh;
    display: flex;
    justify-content: center;
}

.hero-div {
    height: 100vh;
    width: 70vw;
    justify-content: center;
}

.hero-heading {
    font-weight: 700;
    font-size: 74px;
    line-height: 90px;
}

.hero-vid {
    width: 95%;
}

.vid-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

button {
    margin-top: 4vh;
    background-color: orange;
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 50px;
}

img {
    border-radius: 50%;
    min-height: 50px;
    width: 100%;
    max-width: 200px;
    align-self: center;
    margin-bottom: 10px;
  }

.about {
    background-color: #629A68;
    min-height: 300px;
    height: 80vh;
    display: flex;
    
}
.about-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}
.about-div-info {
    margin-left: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;

   width: 43%;
}
 .about-header {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}
.about-parag {
    margin-top: -10px;
    max-width: 700px;
    align-self: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-radius: 50px;
    max-width: 800px;
    width: 70%;
    min-height: 52px;
    height: 5vh;
    left: 375px;
    top: 2555px;
    padding-left: 5%;
    margin-bottom: 20px;
}

.recentioner {
    margin-top: 10vh;
    height: 60vh;
    margin-bottom: 50px;
    
}
.recentioner-div {
    background-color: #3E8A46;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    
}
.recentioner-div-info {
    background-color: #374a3959;
    max-width: 60vw;
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
    border-radius: 25px;
    padding: 20px;
}

.recentioner-parag {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}

footer {
    min-height: 5000px;
    height: 50vh;
    width: 100%;
    max-width: 900px;
 
    display: flex;
    justify-content: center;
}

.footer-div {
    min-height: 50px;
    height: 20vh;
    width: 100%;
    max-width: 500px;
    margin-top: 300px;
}

@media (max-width: 1231px) {
    .hero {
        height: 120vh;
    }

    footer {
        padding-top: 15%;
    }

    .about-parag {
        font-size: 18px;
        max-width: 500px;
        width: 80%;
    }

    .about {
        height: 120vh;
    }
}

/* @media (max-width: 1184px) {

} */

@media (max-width: 843px) {
    .about-parag {
        font-size: 16px;
        max-width: 700px;
        width: 100%;
    }

    footer {
        width: 100%;
        height: 40vh;
    }
}

@media (max-width: 761px) {
    .about-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .about-parag {
        font-size: 16px;
        max-width: 700px;
        width: 80%;
    }

    .about-div-info {
        margin-left: 10px;
       display: flex;
       flex-direction: column;
       justify-content: center;
    
       width: 80%;
    }

    .about {
        height: 180vh;
        justify-content: center;
    }

    img {
        margin-top: 7%;
    }

    .hero {
        height: 90vh;
    }

}

@media (max-width: 761px) and (orientation:landscape) {
    /* .about-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .about-parag {
        font-size: 16px;
        max-width: 700px;
        width: 80%;
    }

    .about-div-info {
        margin-left: 10px;
       display: flex;
       flex-direction: column;
       justify-content: center;
    
       width: 80%;
    } */

    .about {
        height: 140vw;
        justify-content: center;
    }

    .about-parag {
        max-width: 700px;
        width: 80%;
    }

    .about-div-info {
        width: 100%;
    }

    img {
        margin-top: 7%;
    }

    .hero {
        height: 70vw;
    }

    .hero-heading {
        font-size: 60px;
        line-height: 65px;
    }

}


@media (max-width: 655px) and (orientation:landscape){
    .hero {
        height: 80vw;
    }

    .about {
        height: 180vw;
    }
}

@media (max-width: 607px) {
    .hero-heading {
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        margin-bottom: 15%;
        margin-top: 20%;
    }
}

@media (max-width: 607px) and (orientation:landscape){
    .hero {
        height: 80vw;
    }

    .hero-heading {
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 10%;
        margin-top: 35px;
    }
}

@media (max-width: 550px) and (orientation:landscape){
    .about {
        height: 210vw;
    }

}

@media (max-width: 509px) {
    .about {
        height: 190vh;
    }

    .hero {
        height: 80vh;
    }

}

@media (max-width: 509px) and (orientation:landscape) {
    .about {
        height: 220vw;
    }

    .hero {
        height: 80vw;
    }

}

@media (max-width: 465px) {

  
    .hero-heading {
        font-weight: 700;
        font-size: 40px;
        line-height: 39px;
    }

    .about {
        height: 220vh;
    }

    .hero {
        height: 70vh;
    }

    .hero-vid {
        width: 100%;
    }

    .hero-div {
        width: 80vw;

    }
}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) { 
        .hero {
            height: 50vh;
        }
        .about {
            height: 150vh;
        }
    }


@media only screen 
and (device-width : 896px) 
and (device-height : 414px) 
and (-webkit-device-pixel-ratio : 2){ 
    .hero {
        height: 60vw;
    }
    .hero-heading {
        font-size: 40px;
    }
    .about {
        height: 90vw;
    }
}
@media (max-width: 389px) {
    .about {
        padding-bottom: 30px;
    }
    .hero-vid {
        padding-top: 20px;
    }


}

@media (max-width: 371px) {
    .about {
        height: 245vh;
    }

}


@media only screen 
and (device-width: 390px) 
and (device-height: 844px) 
and (-webkit-device-pixel-ratio: 3) { 
    .hero {
        height: 50vh;
    }
    .about {
        height: 170vh;
    }
}

@media only screen 
and (device-width: 844px) 
and (device-height: 390px) 
and (-webkit-device-pixel-ratio: 3) { 
    .hero {
        height: 60vw;
    }
    .hero-heading {
        font-size: 40px;
    }
    .about {
        height: 90vw;
    }
}

@media only screen 
and (device-width: 740px) 
and (device-height: 360px) 
and (-webkit-device-pixel-ratio: 3) { 
    .hero {
        height: 60vw;
    }
    .hero-heading {
        font-size: 40px;
    }
    .about {
        height: 90vw;
    }
}

@media only screen 
and (device-width: 360px) 
and (device-height: 740px) 
and (-webkit-device-pixel-ratio: 3) { 
    .hero {
        height: 40vh;
    }
    .about {
        height: 70vw;
    }
}

@media only screen 
and (device-width: 768px) 
and (device-height: 1024px) 
and (-webkit-min-device-pixel-ratio: 1.0) { 
    .hero {
        height: 60vh;
    }
    .about {
        height: 90vw;
    }
}

@media only screen 
and (device-width: 1024px) 
and (device-height: 768px) 
and (-webkit-min-device-pixel-ratio: 1.0) { 
    .hero {
        height: 60vw;
    }
    .hero-heading {
        font-size: 40px;
    }
    .about {
        height: 90vw;
    }
}